@-ms-viewport {
  width: device-width;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  outline: none;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  font: inherit;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  line-height: inherit;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

input[type="radio"],
input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="radio"] {
  -webkit-appearance: radio;
}

input[type="checkbox"] {
  -webkit-appearance: checkbox;
}

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  -webkit-appearance: listbox;
}

select {
  -webkit-appearance: menuList;
  text-indent: .01px;
  text-overflow: '';
  border: 0;
  border-radius: 0;
}

select::-ms-expand {
  display: none;
}

select[multiple],
select[size] {
  overflow: auto;
  height: auto;
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  height: auto;
}

button,
select {
  text-transform: none;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

a,
area,
button,
[role="button"],
input:not([type=range]),
label,
select,
summary,
textarea {
  touch-action: manipulation;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

blockquote,
q {
  quotes: none;
}

blockquote::before, blockquote::after,
q::before,
q::after {
  content: '';
  content: none;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

code,
pre {
  font-family: monospace;
  font-size: 1em;
}

img {
  vertical-align: middle;
  border-style: none;
  max-width: 100%;
  height: auto;
}

svg:not(:root) {
  overflow: hidden;
}

button,
.button,
[type="button"],
[type="submit"],
[type="reset"], .paper__download {
  min-height: 2.5em;
  min-width: 2.5em;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
  vertical-align: middle;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0 0.75rem;
  border: 1px solid #b3ce46;
  border-radius: 0;
  background-color: #fff;
  color: darkblue;
  font-family: "lato", Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  text-decoration: none;
  text-align: center;
  background-image: none;
  cursor: pointer;
}

button svg.icon, .button svg.icon, [type="button"] svg.icon, [type="submit"] svg.icon, [type="reset"] svg.icon, .paper__download svg.icon {
  width: 1.25em;
  height: 1.25em;
  vertical-align: middle;
}

button svg.icon path, .button svg.icon path, [type="button"] svg.icon path, [type="submit"] svg.icon path, [type="reset"] svg.icon path, .paper__download svg.icon path {
  fill: darkblue;
}

button svg.icon, .button svg.icon, [type="button"] svg.icon, [type="submit"] svg.icon, [type="reset"] svg.icon, .paper__download svg.icon {
  margin: 0 0.5rem 0 0.75rem;
}

button:hover,
.button:hover,
:hover[type="button"],
:hover[type="submit"],
:hover[type="reset"], .paper__download:hover, button:focus,
.button:focus,
:focus[type="button"],
:focus[type="submit"],
:focus[type="reset"], .paper__download:focus, button:focus-within,
.button:focus-within,
:focus-within[type="button"],
:focus-within[type="submit"],
:focus-within[type="reset"], .paper__download:focus-within {
  background-color: transparent;
  color: darkblue;
  text-decoration: none;
}

button:hover svg.icon, .button:hover svg.icon, :hover[type="button"] svg.icon, :hover[type="submit"] svg.icon, :hover[type="reset"] svg.icon, .paper__download:hover svg.icon, button:focus svg.icon, .button:focus svg.icon, :focus[type="button"] svg.icon, :focus[type="submit"] svg.icon, :focus[type="reset"] svg.icon, .paper__download:focus svg.icon, button:focus-within svg.icon, .button:focus-within svg.icon, :focus-within[type="button"] svg.icon, :focus-within[type="submit"] svg.icon, :focus-within[type="reset"] svg.icon, .paper__download:focus-within svg.icon {
  width: 1.25em;
  height: 1.25em;
  vertical-align: middle;
}

button:hover svg.icon path, .button:hover svg.icon path, :hover[type="button"] svg.icon path, :hover[type="submit"] svg.icon path, :hover[type="reset"] svg.icon path, .paper__download:hover svg.icon path, button:focus svg.icon path, .button:focus svg.icon path, :focus[type="button"] svg.icon path, :focus[type="submit"] svg.icon path, :focus[type="reset"] svg.icon path, .paper__download:focus svg.icon path, button:focus-within svg.icon path, .button:focus-within svg.icon path, :focus-within[type="button"] svg.icon path, :focus-within[type="submit"] svg.icon path, :focus-within[type="reset"] svg.icon path, .paper__download:focus-within svg.icon path {
  fill: darkblue;
}

button:hover svg.icon, .button:hover svg.icon, :hover[type="button"] svg.icon, :hover[type="submit"] svg.icon, :hover[type="reset"] svg.icon, .paper__download:hover svg.icon, button:focus svg.icon, .button:focus svg.icon, :focus[type="button"] svg.icon, :focus[type="submit"] svg.icon, :focus[type="reset"] svg.icon, .paper__download:focus svg.icon, button:focus-within svg.icon, .button:focus-within svg.icon, :focus-within[type="button"] svg.icon, :focus-within[type="submit"] svg.icon, :focus-within[type="reset"] svg.icon, .paper__download:focus-within svg.icon {
  overflow: visible;
  box-shadow: 0 0 0 10px #F8DEDE;
  background-color: #F8DEDE;
  border-radius: 50%;
}

button:active,
.button:active,
:active[type="button"],
:active[type="submit"],
:active[type="reset"], .paper__download:active, button:focus,
.button:focus,
:focus[type="button"],
:focus[type="submit"],
:focus[type="reset"], .paper__download:focus, button:focus-within,
.button:focus-within,
:focus-within[type="button"],
:focus-within[type="submit"],
:focus-within[type="reset"], .paper__download:focus-within {
  box-shadow: none;
}

button:disabled,
.button:disabled,
:disabled[type="button"],
:disabled[type="submit"],
:disabled[type="reset"], .paper__download:disabled {
  cursor: not-allowed;
  opacity: .8;
}

a {
  color: darkblue;
  font-weight: 700;
  text-decoration: underline;
}

a svg.icon {
  width: 1em;
  height: 1em;
  vertical-align: middle;
}

a svg.icon path {
  fill: darkblue;
}

a:hover, a:focus {
  color: #000058;
}

a:hover svg.icon, a:focus svg.icon {
  width: 1em;
  height: 1em;
  vertical-align: middle;
}

a:hover svg.icon path, a:focus svg.icon path {
  fill: #000058;
}

.list-unstyled, .list-inline, .paper__identifiers, .paper__authors, .paper__metrics {
  list-style-type: none;
  padding-left: 0;
}

.list-inline li, .paper__identifiers li, .paper__authors li, .paper__metrics li {
  display: inline-block;
  margin-right: 1em;
}

.list-inline li:last-of-type, .paper__identifiers li:last-of-type, .paper__authors li:last-of-type, .paper__metrics li:last-of-type {
  margin-right: 0;
}

table > thead > tr > th > :first-child, table > thead > tr > td > :first-child, table > tbody > tr > th > :first-child, table > tbody > tr > td > :first-child, table > tfoot > tr > th > :first-child, table > tfoot > tr > td > :first-child, .paper__abstract > :first-child, .paper__figure > :first-child {
  margin-top: 0;
}

table > thead > tr > th > :last-child, table > thead > tr > td > :last-child, table > tbody > tr > th > :last-child, table > tbody > tr > td > :last-child, table > tfoot > tr > th > :last-child, table > tfoot > tr > td > :last-child, .paper__abstract > :last-child, .paper__figure > :last-child {
  margin-bottom: 0;
}

html {
  box-sizing: border-box;
  height: 100%;
  min-height: 100%;
  font-size: 16px;
  font-family: "lato", Helvetica, Arial, sans-serif;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@media only screen and (min-width: 768px) {
  html {
    font-size: 18px;
  }
}

@media only screen and (min-width: 1200px) {
  html {
    font-size: 20px;
  }
}

body {
  font-family: "lato", Helvetica, Arial, sans-serif;
  font-size: 100%;
  font-weight: 400;
  line-height: 1.5;
  color: #222;
  text-align: left;
  background-color: #fff;
  -webkit-overflow-scrolling: touch;
}

@media print {
  *,
  *::before,
  *::after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
  pre {
    white-space: pre-wrap !important;
  }
  button {
    display: none !important;
  }
}

.sr-only {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.button--block {
  width: 100%;
}

label {
  display: block;
  width: 100%;
  margin-bottom: 5.58px;
  color: #222;
}

legend {
  margin: 1em 0 .5em;
  font-size: 23.4px;
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.5;
  color: #b3ce46;
  letter-spacing: .02em;
}

legend:first-child {
  margin-top: 0;
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
  position: relative;
  display: block;
  width: 100%;
  height: 2.5em;
  margin-bottom: 0.75rem;
  padding: 0 0.75rem;
  font-size: 18px;
  font-size: 1rem;
  line-height: 1.5;
  color: #222;
  background-color: #fff;
  background-image: none;
  border: 1px solid #b3ce46;
  border-radius: 0;
}

select:hover, select:focus, select:focus-within,
textarea:hover,
textarea:focus,
textarea:focus-within,
input[type="text"]:hover,
input[type="text"]:focus,
input[type="text"]:focus-within,
input[type="password"]:hover,
input[type="password"]:focus,
input[type="password"]:focus-within,
input[type="datetime"]:hover,
input[type="datetime"]:focus,
input[type="datetime"]:focus-within,
input[type="datetime-local"]:hover,
input[type="datetime-local"]:focus,
input[type="datetime-local"]:focus-within,
input[type="date"]:hover,
input[type="date"]:focus,
input[type="date"]:focus-within,
input[type="month"]:hover,
input[type="month"]:focus,
input[type="month"]:focus-within,
input[type="time"]:hover,
input[type="time"]:focus,
input[type="time"]:focus-within,
input[type="week"]:hover,
input[type="week"]:focus,
input[type="week"]:focus-within,
input[type="number"]:hover,
input[type="number"]:focus,
input[type="number"]:focus-within,
input[type="email"]:hover,
input[type="email"]:focus,
input[type="email"]:focus-within,
input[type="url"]:hover,
input[type="url"]:focus,
input[type="url"]:focus-within,
input[type="search"]:hover,
input[type="search"]:focus,
input[type="search"]:focus-within,
input[type="tel"]:hover,
input[type="tel"]:focus,
input[type="tel"]:focus-within,
input[type="color"]:hover,
input[type="color"]:focus,
input[type="color"]:focus-within {
  background-color: #F8F8F8;
}

select:focus, select:focus-within,
textarea:focus,
textarea:focus-within,
input[type="text"]:focus,
input[type="text"]:focus-within,
input[type="password"]:focus,
input[type="password"]:focus-within,
input[type="datetime"]:focus,
input[type="datetime"]:focus-within,
input[type="datetime-local"]:focus,
input[type="datetime-local"]:focus-within,
input[type="date"]:focus,
input[type="date"]:focus-within,
input[type="month"]:focus,
input[type="month"]:focus-within,
input[type="time"]:focus,
input[type="time"]:focus-within,
input[type="week"]:focus,
input[type="week"]:focus-within,
input[type="number"]:focus,
input[type="number"]:focus-within,
input[type="email"]:focus,
input[type="email"]:focus-within,
input[type="url"]:focus,
input[type="url"]:focus-within,
input[type="search"]:focus,
input[type="search"]:focus-within,
input[type="tel"]:focus,
input[type="tel"]:focus-within,
input[type="color"]:focus,
input[type="color"]:focus-within {
  outline: none;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 0 0 3px darkblue;
}

select[multiple],
select[size] {
  padding: 0.75rem;
}

select[multiple] option,
select[size] option {
  padding: 0.75rem;
  border-radius: 0;
  color: #222;
}

select[multiple] option:hover, select[multiple] option:focus, select[multiple] option:focus-within,
select[size] option:hover,
select[size] option:focus,
select[size] option:focus-within {
  background-color: #F8F8F8;
}

select[multiple] option:focus, select[multiple] option:focus-within, select[multiple] option:checked,
select[size] option:focus,
select[size] option:focus-within,
select[size] option:checked {
  color: #222;
  background-color: #00C891;
  background-image: linear-gradient(0deg, #00C891, #00C891);
}

textarea {
  padding: 0.75rem;
  resize: vertical;
  min-height: 10em;
}

input[type="radio"],
input[type="checkbox"] {
  float: left;
  margin-top: .75em !important;
  margin-left: 1em;
}

input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: 3px solid #222;
  outline: 5px auto -webkit-focus-ring-color;
}

input[type="radio"] + label,
input[type="checkbox"] + label {
  display: block;
  margin-bottom: 5.58px;
  padding: .5em 1em .5em 2.5em;
  border-radius: 0;
}

input[type="radio"] + label:hover,
input[type="checkbox"] + label:hover {
  background-color: rgba(34, 34, 34, 0.1);
}

input[type="radio"]:checked + label,
input[type="checkbox"]:checked + label {
  color: #fff;
  background-color: #00C891;
}

*:target {
  background-color: yellow;
}

ol {
  margin: 1em 0;
  padding: 0 0 0 1.5em;
}

ul {
  margin: 1em 0;
  padding: 0 0 0 1.5em;
}

dl {
  margin: 1em 0;
}

dt {
  font-weight: 700;
}

dd {
  margin-bottom: 1em;
  color: #636F7D;
}

dd:last-of-type {
  margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 1em;
  font-family: "lato", Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.2;
  color: #222;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  text-decoration: none;
}

h1 a:focus,
h2 a:focus,
h3 a:focus,
h4 a:focus,
h5 a:focus,
h6 a:focus {
  text-decoration: underline;
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
  margin-top: 0;
}

h1 svg.icon,
h2 svg.icon,
h3 svg.icon,
h4 svg.icon,
h5 svg.icon,
h6 svg.icon {
  width: 1em;
  height: 1em;
  vertical-align: middle;
}

h1 svg.icon path,
h2 svg.icon path,
h3 svg.icon path,
h4 svg.icon path,
h5 svg.icon path,
h6 svg.icon path {
  fill: #222;
}

h1 {
  font-size: 32.4px;
  font-size: 1.8rem;
  font-weight: 700;
}

h2 {
  font-size: 25.2px;
  font-size: 1.4rem;
  font-weight: 700;
}

h3 {
  font-size: 23.4px;
  font-size: 1.3rem;
}

h4 {
  font-size: 21.6px;
  font-size: 1.2rem;
}

h5 {
  font-size: 19.8px;
  font-size: 1.1rem;
}

h6 {
  font-size: 18px;
  font-size: 1rem;
}

p {
  margin: 0 0 1.5em;
}

small {
  font-size: .85em;
}

b,
strong {
  font-weight: 700;
}

em {
  font-style: italic;
}

blockquote {
  position: relative;
  margin: 0 0 .75em;
  padding-left: .75em;
  color: #636F7D;
  border-left: 1px solid #b3ce46;
}

blockquote cite,
blockquote footer {
  color: #222;
  font-weight: 400;
}

hr {
  height: 0;
  margin: 1em 0;
  border: 0;
  border-top: 1px solid #b3ce46;
}

code {
  padding: 2px 4px;
  background: #F8F8F8;
}

pre {
  width: 100%;
  overflow: auto;
  font-size: 14.4px;
  font-size: 0.8rem;
  font-family: monospace;
}

pre code {
  padding: 0;
}

code {
  padding: 2px 4px;
  background: #F8F8F8;
}

table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 0.75rem;
  background-color: #fff;
}

table > thead > tr,
table > tbody > tr,
table > tfoot > tr {
  border: 1px solid #b3ce46;
}

table > thead > tr > th,
table > thead > tr > td,
table > tbody > tr > th,
table > tbody > tr > td,
table > tfoot > tr > th,
table > tfoot > tr > td {
  padding: 0.5rem 0.75rem;
  line-height: 1.5;
  vertical-align: top;
  border-left: 1px solid #b3ce46;
}

table > thead > tr > th:first-child,
table > thead > tr > td:first-child,
table > tbody > tr > th:first-child,
table > tbody > tr > td:first-child,
table > tfoot > tr > th:first-child,
table > tfoot > tr > td:first-child {
  border-left: 0;
}

table > thead,
table > tfoot {
  font-weight: 700;
}

table > thead > tr {
  border-bottom: 4px solid darkblue;
}

table > thead > tr > th,
table > thead > tr > td {
  vertical-align: bottom;
  border-left: 1px solid #b3ce46;
}

table > tfoot > tr > td {
  border-top: 4px solid darkblue;
}

table > tbody > tr:nth-child(even) {
  background-color: #F8F8F8;
}

table > tbody > tr > th {
  font-weight: 700;
}

table > tbody > tr:hover {
  background-color: #ebebeb;
}

table > tr > th {
  font-weight: 700;
}

table > tbody + tbody {
  border-top: 4px solid darkblue;
}

table > table {
  background-color: #fff;
}

.table-centered > tbody > tr > td {
  vertical-align: middle;
}

@media only screen and (max-width: 459px) {
  .table-responsive {
    display: block;
  }
  .table-responsive thead,
  .table-responsive tbody,
  .table-responsive tfoot,
  .table-responsive tr,
  .table-responsive td,
  .table-responsive th {
    display: block;
  }
  .table-responsive thead {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }
  .table-responsive tbody tr {
    border: 1px solid #b3ce46;
    border-top: 4px solid darkblue;
    margin-bottom: 1rem;
  }
  .table-responsive tbody td {
    position: relative;
    padding: 0.5rem 0.75rem 0.5rem 30% !important;
    vertical-align: middle !important;
    min-height: 1rem;
    border-left: 0;
    border-bottom: 1px solid #b3ce46;
  }
  .table-responsive tbody td::before {
    content: attr(data-label);
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    height: 100%;
    width: 28%;
    padding: 0.5rem 0.75rem;
    margin: 0 1rem 0 0;
    border-right: 1px solid #b3ce46;
    font-weight: 700;
    text-align: right;
    text-overflow: ellipsis;
    overflow: hidden;
    vertical-align: middle;
    white-space: nowrap;
  }
  .table-responsive tbody td:first-of-type {
    border-top: 0;
  }
  .table-responsive tbody td:empty {
    min-height: auto;
    padding: 0 !important;
    border-top: 0;
  }
  .table-responsive tbody td:empty:before {
    display: none;
  }
}

.paper {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow-x: scroll;
  overflow-y: hidden;
  column-count: 1;
  column-gap: 1rem;
  padding: 1rem;
}

@media only screen and (min-width: 992px) {
  .paper {
    column-count: 2;
    column-gap: 3rem;
    padding: 3rem;
  }
}

@media only screen and (min-width: 1600px) {
  .paper {
    column-count: 3;
  }
}

@media only screen and (min-width: 2400px) {
  .paper {
    column-count: 4;
  }
}

@media print {
  .paper {
    height: auto;
    width: auto;
    overflow: visible;
  }
}

.paper__page-prev,
.paper__page-next {
  opacity: .2;
  position: fixed;
  left: 0;
  top: 70%;
  padding: 0;
  padding-left: 2em;
  height: 30%;
  width: 30%;
  border: 0;
  border-bottom-right-radius: 0;
  border-top-right-radius: 50%;
  background-color: transparent;
  background-size: 2em;
  background-position: 0;
  background-repeat: no-repeat;
  color: transparent;
}

.paper__page-prev:hover,
.paper__page-next:hover {
  opacity: .8;
  background-color: #fff;
  color: darkblue;
}

.paper__page-prev:active, .paper__page-prev:focus,
.paper__page-next:active,
.paper__page-next:focus {
  color: darkblue;
}

@media only screen and (min-width: 1200px) {
  .paper__page-prev,
  .paper__page-next {
    top: 35%;
    width: 20%;
    max-width: 150px;
    background-size: 3em;
    border-bottom-right-radius: 50%;
  }
}

.paper__page-prev {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1792' height='1792' viewBox='0 0 1792 1792'%3E%3Cpath d='M1427 301l-531 531 531 531q19 19 19 45t-19 45l-166 166q-19 19-45 19t-45-19l-742-742q-19-19-19-45t19-45l742-742q19-19 45-19t45 19l166 166q19 19 19 45t-19 45z' fill='darkblue'/%3E%3C/svg%3E");
}

.paper__page-next {
  left: auto;
  right: 0;
  padding-left: 0;
  padding-right: 2em;
  border-top-right-radius: 0;
  border-top-left-radius: 50%;
  background-position: 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1792' height='1792' viewBox='0 0 1792 1792'%3E%3Cpath d='M1363 877l-742 742q-19 19-45 19t-45-19l-166-166q-19-19-19-45t19-45l531-531-531-531q-19-19-19-45t19-45l166-166q19-19 45-19t45 19l742 742q19 19 19 45t-19 45z' fill='darkblue'/%3E%3C/svg%3E");
}

@media only screen and (min-width: 1200px) {
  .paper__page-next {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 50%;
  }
}

.paper__identifiers {
  margin: 0 0 1rem;
}

.paper__abstract {
  padding: 1rem;
  margin-bottom: 2rem;
  background-color: #F8F8F8;
}

.paper__download {
  padding-left: 2.5em;
  background-size: 1.5em;
  background-position: .5em;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1792' height='1792' viewBox='0 0 1792 1792'%3E%3Cpath d='M1596 380q28 28 48 76t20 88v1152q0 40-28 68t-68 28h-1344q-40 0-68-28t-28-68v-1600q0-40 28-68t68-28h896q40 0 88 20t76 48zm-444-244v376h376q-10-29-22-41l-313-313q-12-12-41-22zm384 1528v-1024h-416q-40 0-68-28t-28-68v-416h-768v1536h1280zm-514-593q33 26 84 56 59-7 117-7 147 0 177 49 16 22 2 52 0 1-1 2l-2 2v1q-6 38-71 38-48 0-115-20t-130-53q-221 24-392 83-153 262-242 262-15 0-28-7l-24-12q-1-1-6-5-10-10-6-36 9-40 56-91.5t132-96.5q14-9 23 6 2 2 2 4 52-85 107-197 68-136 104-262-24-82-30.5-159.5t6.5-127.5q11-40 42-40h22q23 0 35 15 18 21 9 68-2 6-4 8 1 3 1 8v30q-2 123-14 192 55 164 146 238zm-576 411q52-24 137-158-51 40-87.5 84t-49.5 74zm398-920q-15 42-2 132 1-7 7-44 0-3 7-43 1-4 4-8-1-1-1-2-1-2-1-3-1-22-13-36 0 1-1 2v2zm-124 661q135-54 284-81-2-1-13-9.5t-16-13.5q-76-67-127-176-27 86-83 197-30 56-45 83zm646-16q-24-24-140-24 76 28 124 28 14 0 18-1 0-1-2-3z' fill='darkblue'/%3E%3C/svg%3E");
}

.paper__ref-link {
  display: inline-block;
  font-size: 18px;
  font-size: 1rem;
  padding: 0 0.25em;
  text-decoration: none;
  background-color: #F8F8F8;
}

.paper__figure {
  padding: 1rem;
  margin-bottom: 2rem;
  background-color: #F8F8F8;
  break-inside: avoid;
  border: 1px solid #b3ce46;
}

.paper__figure figcaption {
  font-weight: 700;
  border-bottom: 1px solid #b3ce46;
  padding-bottom: 0.75rem;
  margin-bottom: 0.75rem;
}

.paper__footer-link {
  display: block;
}

.paper__footer-link-info {
  font-size: 14.4px;
  font-size: 0.8rem;
  line-height: 1.2;
}
