// Inherit
//
// Explicit baseline styles for core structural elements which are inherited

html {
    box-sizing: border-box;
    height: 100%;
    min-height: 100%;
    font-size: $font-size-small;
    font-family: $font-family-base;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: $colour-null;

    @media only screen and (min-width: $breakpoint-tablet) {
        font-size: $font-size-base;
    }

    @media only screen and (min-width: $breakpoint-desktop) {
        font-size: $font-size-large;
    }
}

body {
    font-family: $font-family-base;
    font-size: 100%;
    font-weight: $font-weight-base;
    line-height: $line-height-base;
    color: $colour-text;
    text-align: left;
    background-color: $colour-body;
    -webkit-overflow-scrolling: touch;
}
