// Colours
//
// The colour palette for web.
//
// Styleguide Core.Colours


// Utility Colours

$colour-null: rgba(0, 0, 0, 0);
$colour-black: #000;
$colour-white: #fff;


// Default Colours
//
// The default colours for certain elements.
//
// #fff - body background colour
// #222 - text colour
// #888 - muted text colour
//
// Styleguide Core.Colours.Default

$colour-body: $colour-white;
$colour-text: #222;
$colour-text-muted: #636F7D;


// Brand Colours
//
// The primary colors for branding.
//
// #4A90E2 - Primary
//
// Styleguide Core.Colours.Brand

$colour-brand-primary: #FF0000;
$colour-brand-secondary: #FFE5E5;


// UI Colours
//
// Colors for various UI elements such as buttons and cards

$colour-state-success: #00C891;
$colour-ui-border: #FAB9B9;
$colour-ui-card: #F8F8F8;
$colour-ui-card-hover: darken($colour-ui-card, 5%);
$colour-ui-card-action: darken($colour-ui-card, 10%);
$colour-ui-icon: #bdcde0;
$colour-ui-link: $colour-brand-primary;
$colour-ui-link-hover: $colour-brand-secondary;
$colour-ui-button: $colour-ui-link;
$colour-ui-button-hover: #F8DEDE;
$colour-ui-button-overlay: rgba($colour-white, .75);
$colour-ui-selected: #C8DDF6;


// Typography

$font-family-base: Helvetica, Arial, sans-serif;
$font-family-mono: monospace;
$font-size-small: 16px;
$font-size-base: 18px;
$font-size-large: 20px;
$font-weight-base: 400;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;
$line-height-small: 1.2;
$line-height-base: 1.5;


// Breakpoints
//
// Breakpoints available for use in media queries
//
// $breakpoint-mobile - 576px;
// $breakpoint-tablet - 768px;
// $breakpoint-laptop - 992px;
// $breakpoint-desktop - 1200px;
//
// Styleguide Core.Breakpoints

$breakpoint-mobile: 460px;
$breakpoint-tablet: 768px;
$breakpoint-laptop: 992px;
$breakpoint-desktop: 1200px;
$breakpoint-large: 1600px;
$breakpoint-xlarge: 2400px;


// Dimensions

$section-spacing-xsmall: .5rem;
$section-spacing-small: .75rem;
$section-spacing-base: 1rem;
$section-spacing-large: 2rem;
$section-spacing-xlarge: 3rem;


// Animation

$anim-time-short: .2s;
$anim-time-base: .4s;
$anim-time-long: .8s;


// Borders

$border-radius-base: 3px;
$border-default: 1px solid $colour-ui-border;
$border-large: 4px solid $colour-brand-primary;
$border-large-null: 4px solid transparent;
$border-dashed: 4px dashed $colour-ui-card-hover;
$border-dashed-focus: 4px dashed $colour-brand-primary;


// Box shadows

$shadow-form-focus: 0 0 0 3px $colour-brand-primary;
$shadow-button-focus: 0 0 0 3px $colour-ui-button;


